.container {
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    display: flex;
    gap: 9px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid black;
    width: 150px;
    height: 200px;
    padding-top: 10px;
    padding-left: 9px;
}

.card div {
    margin-bottom: 20px;
}